body {
  margin:0;
  padding:0;
}

#header {
  width:100%;
  height:50px;
  background-color:#F9CACF;
  font-family:sans-serif, Helvetica;
  position:fixed;
}

#header nav {
  display:flex;
  min-width:300px;
  float:right;
  justify-content:space-around;
  padding:15px;
}

#header a {
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
}

#header nav a:hover {
  color:#eee;
  transition:0.3s;
}

#header .title {
  display:flex;
  min-width:200px;
  float:left;
  padding:8px 15px;
}

.lnr {
  position:relative;
  top:-4px;
  font-size:40px;
  color:#fff;
  padding-right:8px;
}

#header .title a {
  font-family:'Inconsolata';
  letter-spacing:1px;
  font-size:30px;
}
